<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="item" let-item let-root="root">
      <a pRipple [routerLink]="item.route" class="flex items-center p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
        <p-badge
          *ngIf="item.badge"
          [ngClass]="{ 'ml-auto': !root, 'ml-2': root }"
          [value]="item.badge"
        />
        <span
          *ngIf="item.shortcut"
          class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
          >{{ item.shortcut }}</span
        >
        <i
          *ngIf="item.items"
          [ngClass]="[
            'pi',
            root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
          ]"
        ></i>
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex items-center gap-2 justify-center">
        @if(user){
        <strong>Welcome:</strong
        ><span>{{ user.first_name }} {{ user.last_name }}</span>
        <p-avatar
          (click)="op.toggle($event)"
          [image]="user.avatar"
          shape="circle"
          class="cursor-pointer"
        />
        } @else {
        <p-button
          severity="secondary"
          label="Login"
          size="small"
          [rounded]="true"
          [outlined]="true"
          (onClick)="onLogin()"
        />
        }
      </div>
    </ng-template>
  </p-menubar>
</div>

<p-overlayPanel #op>
  <p-button
    icon="pi pi-sign-out"
    [text]="true"
    severity="secondary"
    size="small"
    (click)="onLogout()"
    label="Log out"
  />
</p-overlayPanel>

<p-dialog
  header="Login User"
  [modal]="true"
  [(visible)]="isLoginFormVisible"
  [style]="{ width: '25rem' }"
>
  <app-sign-in (onClose)="this.isLoginFormVisible = false"></app-sign-in>
</p-dialog>
