<div class="flex justify-center">
  <div class="w-full lg:w-3/4">
    <div class="flex justify-between items-center mb-6">
      <h2 class="">Users Page</h2>
      <p-button
        label="Add User"
        (onClick)="addUser()"
        [rounded]="true"
        size="small"
      ></p-button>
    </div>
    <app-user-list
      [dataSource]="dataSource"
      (onClickEdit)="editUser($event)"
      (onClickDelete)="deleteUser($event)"
    />
  </div>
</div>

<p-dialog
  header="Edit Profile"
  [modal]="true"
  [(visible)]="isEditFormVisible"
  [style]="{ width: '25rem' }"
>
  <app-user-edit
    [user]="selectedUser"
    (onSave)="loadUsers()"
    (onClose)="isEditFormVisible = false"
  ></app-user-edit>
</p-dialog>
