<p-table [value]="dataSource" styleClass="p-datatable-sm bg-transparent">
  <ng-template pTemplate="header">
    <tr>
      <th class="border-b-2 bg-transparent">ID</th>
      <th class="border-b-2 bg-transparent">Avatar</th>
      <th class="border-b-2 bg-transparent">Name</th>
      <th class="border-b-2 bg-transparent">Last</th>
      <th class="border-b-2 bg-transparent">Email</th>
      <th class="border-b-2 bg-transparent"></th>
      <th class="border-b-2 bg-transparent"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.id }}</td>
      <td>
        <p-avatar [image]="user.avatar" styleClass="mr-2" shape="circle" />
      </td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td class="text-right">
        <p-button
          (click)="onEdit(user)"
          label="Edit"
          severity="secondary"
          size="small"
          [text]="true"
          severity="secondary"
        />
      </td>
      <td class="text-right">
        <p-button
          (click)="onDelete(user)"
          label="Delete"
          severity="danger"
          size="small"
          [text]="true"
          severity="danger"
        />
      </td>
    </tr>
  </ng-template>
</p-table>
